<h1 class="titulo_seccion">Campeonatos en juego</h1>
<a href="javascript:newCampeonato();" class="button-ui-plusthick">Crear</a>
<table class="general">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nombre }}</td>
            <td>
                <a class="button" href="javascript:showCampeonato('{{ path('campeonato_show', { 'id': entity.id }) }}')">Ver</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
function showCampeonato (url) {
    setAjaxLoader('#perfil-content');
    var request = $.ajax({
        type: "POST",
        url: url,
    });

    request.done(function (html) {
        $('#perfil-content').html(html);
    });
}
cargarBotonesDialog('#perfil-content');
</script>
            {#<td><a href="{{ path('campeonato_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}