{%  extends  'Area4NoticiasBundle:Admin:menu.html.twig' %}
{% block mainbar %}
{% form_theme form  "::form.html.twig" %}
{% spaceless %}
<form action="{{ path('grupofamiliar_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div style="width: 100%; text-align: center;">
        <input type="submit" class="button" value="Crear"/>
        <input type="reset" class="button" value="Borrar formulario"/>
        <a href="{{ path('grupofamiliar') }}" class="button">Salir</a></div>
</form>
{% endspaceless %}
{%endblock%}