<img src="{{ asset('img/logo-ideas-y-competencias.png') }}" alt="logo-ideas-y-competencias" id="logo-top">

<h1 class="titulo_seccion">SISTEMA DE ADMINISTRACIÓN DE TORNEOS DEPORTIVOS</h1>
<hr class="barras_yellow"/>