{% form_theme form  "::form.html.twig" %}
<form action="{{path('egreso_reporte')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div style="width: 100%; text-align: center;">
        <input type="submit" class="button" value="Crear"/>
</form>