<form action= method="post" {{ form_enctype(form) }} id="formCreate">
    {{ form_widget(form) }}
    <p>
    	<a href="javascript:submitForm('#dialog','#formCreate','{{path('especificaciondeproducto_create')}}')" class="button">Crear</a>
        <a href="javascript:indexEspecificaciondeProducto();" class="button-ui-icon-carat-1-w">Cancelar</a>
    </p>
</form>

<script type="text/javascript">
$('input[id*="{{formName}}_fecha"]').datepicker({'dateFormat':"dd/mm/yy"});
$("#dialog a.button").button();
$("#dialog a.button-ui-icon-carat-1-w").button({
            icons: {
                primary: "ui-icon-carat-1-w"
            }});
</script>
