{% extends '::base_backend.html.twig' %}
{% block body %}
<h1 class="titulo_seccion">Equipos inscriptos en el Sistema</h1>
<a href="{{ path('equipo_new') }}" class="button">Crear un nuevo equipo</a>

<table class="general">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nombre }}</td>
            <td>
                        <a href="{{ path('equipo_show', { 'id': entity.id }) }}">MOSTRAR</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}