<h1>Creación de equipos</h1>

<form method="post" {{ form_enctype(form) }} id="form">
    {{ form_widget(form) }}
    <p>
    	<a href="javascript:submitForm('#perfil-content','#form','{{ path('equipo_create') }}')" class="button">Crear</a>
    </p>
</form>
<script type="text/javascript">
setMaxChecked(3);
cargarBotonesDialog('#perfil-content');
</script>