<h1 class="titulo_seccion">{{ entity.nombre }}</h1>

{% if is_granted('ROLE_CAP') %}
<a href="javascript:cargarInvitaciones()" class="button">Invitar jugadores</a>
{% endif %}

<table class="general">
    <caption>Lista de Jugadores</caption>
    <tr><th>Nombre</th></tr>
{% for jugador in jugadores %}   
    <tr>            
        <td>{{ jugador.NombreCompleto }} {{jugador.getCapitanString}}</td>
    </tr>
{% else %}
<tr><td>No hay jugadores inscriptos en este equipo</td></tr>
{% endfor %}
</table>

<div id="invitaciones-content">

</div>
<script type="text/javascript">
/**
 * Carga el form de notificaciones
 */
function cargarInvitaciones() {
    location.hash = '#invitaciones-content';
    setAjaxLoader('#invitaciones-content');
    var request = $.ajax({
                    type: "POST",
                    url: "{{path('notificaciones_jugadores_equipo')}}",
                });
    request.done(
        function( html ) {
            $("#invitaciones-content").html(html);
        });
    request.fail(
        function( html ) {
            $("#invitaciones-content").html(html);
        });
}

cargarBotones();
</script>

