<form method="post" {{ form_enctype(form) }} id="formPartido">
    {{ form_widget(form) }}
 <p>
        <a href="javascript:submitForm('#dialog','#formPartido', '{{path('partido_create')}}')" class="button">Crear</a>
 </p>
</form>
<script type="text/javascript">cargarBotonesDialog('#dialog')</script>
