<form id="form" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
    	<a href="javascript:submitForm('#dialog','#form','{{ path('tipo_create') }}');" class="button">Crear</a>
        <a href="javascript:indexTipoDocumento()" class="button-ui-icon-carat-1-w">Cancelar</a>
    </p>
</form>
<script type="text/javascript">
$('a.button').button();
$("a.button-ui-icon-carat-1-w").button({
            icons: {
                primary: "ui-icon-carat-1-w"
            }});
</script>