<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" >
	<tr>
		<td>{{form_label(form.Divisa)}}</td>
		<td>{{form_widget(form.Divisa)}}</td>
		<td>{{form_label(form.DivisaValor)}}</td>
		<td>{{form_widget(form.DivisaValor)}}</td>
	</tr>
</table>