{% form_theme form '::form_register.html.twig' %}
<h1 class="titulo_seccion">Enviar invitaciones</h1>

{% form_theme form '::form_register.html.twig' %}
<form action="{{ path('invitaciones_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
